.textcontent{
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
}
#navigationmenu{
    justify-content: center;
    background-color: lightgray;
    color: white;
    display: flex;
    height: 70px;
}
.content{
    background-color: lightgray;
    color: white;
    height: 400px;
    width: 300px;
    display: inline-block;
    
}
.maincontent{
    background-color: lightgray;
    color: white;
    height: 400px;
    width: 725px;
    display: inline-block;
    
   
}
.content{
    background-color: lightgray;
    color: white;
    height: 400px;
    width: 300px;
    display: inline-block;
    
}

